[Desktop Entry]
Encoding=UTF-8
Name=Fango Desktop
Comment=Fango Desktop
Exec=FANGO-GUI
Terminal=false
Type=Application
Icon=fango.png
MimeType=x-scheme-handler/fangowallet;
Categories=Office;Finance;Cryptocurrency;
Name[en_US]=fangowallet.desktop
